.portfolio {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;

}
.headingPort {
  margin: 2rem 0;
  text-align: center;
  font-size: 3rem;
}

.portfolio-slider {
  margin: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  flex :1;
  width: 25rem;
  margin: 3rem 4rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}




  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
    .headingPort{
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-right: -3rem;
    }
    .portfolio-slider {
      margin-top: 4rem;
      width: 100%;
    }
    .portfolio{
      width: 118%;
      margin-bottom: -8rem;
    }
  .portfolio img{
    transform: scale(0.9);
  }
  .portfolio .swiper >.swiper-slide,.swiper-slide-active,.swiper-slide-next{
    width: auto;
  }
  }
   

  @media screen and (min-width: 540px) and (max-width:800px){
    .portfolio{
      width: 160%;
    }
    }