.skillContainer{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}
.heading{
    margin:2rem 0;
    text-align: center;
    font-size: 3rem;
}
.buttonResume{
    background-color: #43ddff;
    border-radius: 10px;
    padding: 10px;
    margin: 2rem 0;
    width: 127px;
    border: none;
    color: #fff;

}
.skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skillCard>img{
    width: 100px;
    height: 100px;
}
.skillList{
    color: #2f2f2f;
    word-spacing: 2px;
}
.skillCard{
    width: 25%;
    /* width: calc(30% - 20px); */
  margin: 10px;
  padding: 19px;
  border: 7px solid #DDF8FE;
  border-radius: 25px;
  text-align: center;
}

@media screen and (max-width: 480px){
    .skill{
        flex-direction: column;
    }
    .skillCard{
        width: 80%;
        margin: 1rem;
    }
    .skillContainer{
        width: 130%;
    margin-top: 4rem;
    }
}