.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1rem;
  top: 0;
}
.n-left {
  margin-left: 2rem;
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  color: #00d1ff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  /* flex: 1; */

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: var(rgb(136, 136, 255));
  cursor: pointer;
}

.n-button {
  flex: 2;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-left{
    justify-content: center;
  }
  .n-name{
    margin-left: 5rem;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 540px) and (max-width:900px){
  .n-wrapper{
    width: 166%;
  }
  .n-list {
    display: none;
  }
  .n-left{
    /* margin-left: 50%; */
    justify-content: center;
  }
}