.works {
  /* top: -1rem; */
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 50vh;
  margin-top: 4rem;
  margin-bottom: 13rem;

  /* scroll */
  align-items: center;
}
.companies{
  margin: 20px;
    height: 150px;
    width: 50px;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
.img1{
  position: relative;
  /* left:-340px;
  top: 230px; */
  margin: 20px;
  width: auto;
  top:-10px;
  height: 100%;
}
.img2{
  position: relative;
  left:-548px;
  top: 44px;
  margin: 20px;
}
.img3{
  position: relative;
  left:-380px;
  margin: 20px;
  top: 25px;
}
.img4{
  margin: 20px;
  position: relative;
  left:-608px;
  top: 213px;
}
/* left side */
.awesome {
  margin-right: 156px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}
.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 4rem;
}
.w-left {
  top: 60px;
  display: flex;
  flex: 1 0;
  justify-content: flex-start;
  position: relative;
}
/* right side */
.w-right {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

.companies>img{
  display: flex;
  position: absolute;
  gap: 2rem;
}

.w-right>img{
  display: flex;
  flex: 0;
}
@media screen and (max-width: 480px) {
  .works {
    margin-bottom: -14rem;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    padding: 0;
    gap: 4rem;
  }
  
.awesome > :nth-child(1) {
  font-size: 2.2rem;
}
  .img1{
    margin: 45px;
  }
.awesome{
  margin-right: 12px;
}
  .w-right {
    top: -8rem;
    display: flex;
    align-items: flex-start;
    justify-content:start;
    transform: scale(0.6);
  }
  

}


/*samsung a50s*/
@media (device-height: 892px) and (device-width: 412px){
  .img1 {
    margin: 5px;
    width: auto;
    height: 162%;
}
}




