.button {
  background-color: #43ddff;
  border-radius: 10px;
  padding: 10px;
  margin: 2rem 0;
  width: 127px;
  border: none;
  color: #fff;
  }
  
  .button:hover {
    background: hsl(191, 99%, 49%);
    cursor: pointer;
    border: 1px solid hsl(191, 99%, 49%);
    color: white;
  }


*{
  top: 0;
  left: 0;
  /* overflow-x: hidden; */
}












  /* For Desktop View */
@media screen and (min-width: 1024px) {
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {

}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {

}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {

}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {

}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {

}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {

}
  
/*samsung a50s*/
@media (device-height: 892px) and (device-width: 412px){

}